
<div class="chips-container">
  <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" class="pt-flag">
    <image href="/assets/pt.svg" width="100%" height="100%" />
  </svg>
  <div class="guild-title">Lusitanos</div>
  <div class="menu-chips">
    <mat-chip-listbox aria-label="Fish selection">
      <mat-chip>HoF Farming</mat-chip>
      <mat-chip>Cristais</mat-chip>
      <mat-chip color="primary" selected>Estatísticas</mat-chip>
      <mat-chip color="accent">Simulador ouro/XP</mat-chip>
    </mat-chip-listbox>
  </div>
</div>